# Basic of Python

In [33]:
num = [1,2,3,5 ] #List Data Type
print(num)
print(type(num))

num1=True #Boolean Data Type
print(num1)
print(type(num1))

#Comparison Operator 
x=4
y=5
print("this is =",x!=y)

#Logical Operator
M = True 
k = False 
print ("This is =",x  and y)

a=2 #Int Data Type
print ("The Value of a is =",a)
print(type(a))

b=1.5 #Float Data Type
print("a+b =",a+b)

c="My Name is Hira" #Sting Data Type
print(c)

# If we want we can Multiply String Type Data Type by a Nuber Valeu(1 , 2....etc)
# But it's Possible to Multiply Two String at a time such that (hello*hello) -> Not possible
str="hello" 
print ("The Multiplication of hello for 5 times is = ",str*5) 

v=2+3j # Complex Data type
print ("This is a complex number =",v)
print(type(v))

print("\n")
#To show all the data type that I have used on this code we use "%whos"
%whos

[1, 2, 3, 5]
<class 'list'>
True
<class 'bool'>
this is = True
This is = 5
The Value of a is = 2
<class 'int'>
a+b = 3.5
My Name is Hira
The Multiplication of hello for 5 times is =  hellohellohellohellohello
This is a complex number = (2+3j)
<class 'complex'>


Variable     Type       Data/Info
---------------------------------
M            bool       True
a            int        2
a1           str        hello
b            float      1.5
b1           str        Student
c            str        My Name is Hira
c1           str        hello Student
first_name   str        Jhon
k            bool       False
last_name    str        Doe
num          list       n=4
num1         bool       True
str          str        hello
v            complex    (2+3j)
x            int        4
y            int        5

# Exponent Function

In [25]:
print("The Expoent of 5*5 =",5**2)
print("The Expoent of 5*5*5 =",5**3)
print("The Expoent of 5*5*5*5 =",5**4)

The Expoent of 5*5 = 25
The Expoent of 5*5*5 = 125
The Expoent of 5*5*5*5 = 625

# String Concatenate

In [24]:
a1="hello"
b1="Student"
c1=a1+" "+b1
print("After Contatenate these Two string we Find =",c1)

After Contatenate these Two string we Find = hello Student

Question 1

Imagine you are Working on a customer management System ,
And you have the first name and last name of a customer stored as separete variable. 
You are developing a customer management system for a retail store. 
In your Database, you have the first name and last name of a customer stored as 
separete variables: first_name ="Jhon" last_name ="Doe".

How would you Concatenate these strings to form the full name "Jhon Doe" for the customer's profile.

In [26]:
# Ans : 
first_name = "Jhon"
last_name = "Doe"
print(first_name+" "+last_name)

Jhon Doe

Question 1 

You have a Data containing two records:"Quantity" and "Price per unit".
How would you use arithmetic operators to calculate the total cost for item, also calculate the total Cost ? 
Product 1, Quantity=5, price per unit=Rs 250.
product 2 ,Quantity=25 ,price per unit=Rs 656. 
product 3 ,Quantity=34 ,price per unit=Rs 274.

In [41]:
#For Product 1:
Qunatity1=5
price_per_unit1=250
total_price_product_1=Qunatity1*price_per_unit1
print("For Product 1 the Total Price is =",Qunatity1*price_per_unit,"Rs")
Qunatity2=25
price_per_unit2=656
total_price_product_2=Qunatity2*price_per_unit2
print("For Product 2 the Total Price is =",Qunatity2*price_per_unit2,"Rs")
Qunatity3=34
price_per_unit3=274
total_price_product_3=Qunatity3*price_per_unit3
print("For Product 3 the Total Price is =",Qunatity3*price_per_unit3,"Rs")

print ("In total Price is =",total_price_product_1+total_price_product_2+total_price_product_3,"Rs")

For Product 1 the Total Price is = 1250 Rs
For Product 2 the Total Price is = 16400 Rs
For Product 3 the Total Price is = 9316 Rs
In total Price is = 26966 Rs

Question 2 

In a Finance based organization,The task is to calculate the simple interest 
Given the principle amount,interest rate and time period,
The interest rate is 8%, the principal amount is Rs 15,00,000, and the time period is 3 years, calculate the simple interest. Also,the threshold amount is Rs 1,20,000 
Please check, if the calculated interest is greater or less than the threshold Amount.

In [46]:
principle_amount=1500000
time_period=3
interest_rate=8
simple_interest=(principle_amount*time_period*interest_rate)/100
print("The Simple Interest Rate is =",simple_interest)
threshol_amount=120000
print("The Threshold amount and Simple Interest are equal =",threshol_amount==simple_interest)
print("The Threshold amount is getter than the Simple Interest =",threshol_amount>simple_interest)
print("The Threshold amount is less than the Simple Interest =",threshol_amount<simple_interest)

The Simple Interest Rate is = 360000.0
The Threshold amount and Simple Interest are equal = False
The Threshold amount is getter than the Simple Interest = False
The Threshold amount is less than the Simple Interest = True

# Build in function

Convert a Float type function into Int type fuction

In [94]:
num_int =10 
print("This 10 is now in Integer type value =",(type(num_int)))
#let's Convert 10 into Float type
a=float(num_int)
print("this 10 is now in float type value=",(type(a)))

#let's Convert string type data to float type data 
hm="3.1416" # String type
print("This is 3.1416 is always a String type Value",(type(hm)))
b=float(hm) # Converted into FLoat type
print("This 3.1416 is now in float type Value",(type(b)))

#let's Learn [ Comp ] Build in funciton 
comp = complex(2,3)
print("this is now complex function",comp)

#let's learn About [ Abs ] Funciton 
x=-23
print("This -23 is turn into positive value hehe =",abs(x))

#let's learn [ Len ] Funciton 
c= [12,15, 7, 8 , 9 , 2 ]
print ("The lenth of this",len(c))

#let's Learn [ Bin ] Function 
#as a string prefixed with '0b', 
binary_representation =bin(10) 
print("The Binary Reprsentaion of 10 is =",binary_representation) 

#sum Function 
my_list = [ 7, 8, 9 , 5, 34 , 34 , 43 , 5334 ]
a = sum(my_list)
print("The sum of the list is=",a)
list = [1, 2 , 3, 4, 5 ]
starting_value = 10 
total = sum(list, starting_value)
print("The total after adding 10 with the list is=",total)

#Eval Funciton 
x = 10 
y = 5
expression = "234*25+63 -98/2"
print ("The expression after the calculation ",eval(expression))

This 10 is now in Integer type value = <class 'int'>
this 10 is now in float type value= <class 'float'>
This is 3.1416 is always a String type Value <class 'str'>
This 3.1416 is now in float type Value <class 'float'>
this is now complex function (2+3j)
This -23 is turn into positive value hehe = 23
The lenth of this 6
The Binary Reprsentaion of 10 is = 0b1010
The sum of the list is= 5474
The total after adding 10 with the list is= 25
The expression after the calculation  5864.0

# Input Function

In [95]:
name = input ("enter your name " ) 
print ("name entered by user is ",name )
print (type(name ))

age = input("enter your age please")
print("age of user is ", age )
print(type(age))

enter your name  hira

name entered by user is  hira
<class 'str'>

enter your age please 20

age of user is  20
<class 'str'>

Question 1: 
get two numbers from the user and calculate their sum

In [98]:
a1=input("enter the first value")
b1=int(a1)
a2=input("enter the 2nd value")
b2=int(a2)
sum = b1 + b2
print("The sum of a1 and a2 number is =",sum)

enter the first value 10
enter the 2nd value 20

The sum of a1 and a2 number is = 30

Qustion 2: 

As part of your role in a data-driven project, you need to take input from the user for their age , wight ,and height .However , there's 
an issue : 
the user has entered their age as a negetive number .
You need to correct the age of the user  and after correcting the age , calculating their Basal Metabolic Rate (BMR) 
using the Harris-Benedict equaiton for men .
Ensure that the final answer of BMR is an integer.

Basel Metabolic Rate (BMR) : 
Formula ( Harries Benedict equaion for men ) : 
BMR = 88.362 + (13.397 * weight in kg ) + ( 4.799*height  in cm ) - ( 5.677 * age in years)

In [99]:
age=int(input("enter the age"))
weight=int(input("enter the weight"))
height = float(input("Enter the Hight"))
correct_age = abs(age) 
print("The Corrent age of user  = ", correct_age)

BMR = "88.362 + (13.397 * weight ) + ( 4.799*height ) - ( 5.677 * age ) "
bmr = eval (BMR)
print ("Print the BMR of the patient is ",int(bmr))

enter the age 20
enter the weight 55
Enter the Hight 5.5

The Corrent age of user  =  20
Print the BMR of the patient is  738

Question 3 
Write a python code for hostel student , ask them to mention thier couruses name and age,
for 5 students and calculate thier avg age .

In [100]:
student1 = int(input("Enter his age is "))
student2 = int(input("Enter his age is "))
student3 = int(input("Enter his age is "))
student4 = int(input("Enter his age is "))
student5 = int(input("Enter his age is "))
AVG="((student1+student2+student3+student4+student5)/5)"
avg = eval(AVG)
print("The average age of 5 students is : ", float(avg))

Enter his age is  20
Enter his age is  21
Enter his age is  22
Enter his age is  23
Enter his age is  24

The average age of 5 students is :  22.0

Question 4 : 

In a Game applicaiton,The player's score is stored as a floating-point number,However,For leaderboard display,
you need to convert the score to an integer. 
How would you use the int() function to convert the player's score from floating-point to integer Formate ? 
please solve this with code, player score =1234.56

In [72]:
player_score_float =1234.56
print("This 1234.56 now in floating type",(type(player_score_float)))
print(player_score_float)
# Converting this into intger Type
player_score_int=int(player_score_float)
print("This 1234.56 now converted into integer value",(type(player_score_int)))
print(player_score_int)

This 1234.56 now in floating type <class 'float'>
1234.56
This 1234.56 now converted into integer value <class 'int'>
1234

Question 5 : 
In a customer relationship management (CRM) system for a retail company, you have a database containing customer reocords.
How would you use the len() function to find the total number of Customer in the database, allowing the company to track its customer base? 

Customer_databse = [
                 (1 , 'John Doe' , 'John@example.com'),
                 (1 , 'Hira' , 'erfanulkabirhira132@gmail.com'),
                (1 , 'Jira' , 'Jira@example.com'),
                ]

In [73]:
Customer_database = [ 
    (1 , 'John Doe' , 'John@example.com'),
    (1 , 'Hira' , 'erfanulkabirhira132@gmail.com'),
    (1 , 'Jira' , 'Jira@example.com'),
]
print ("The total number of customer in the database is ", len(Customer_database))

The total number of customer in the database is  3

Question 6 : 
You are calculating a financial applicaiton that calculate simple interest. The principle amount is 250000 Rs , the interest rate is 9.3456 and the time period is 3 years , 
Calculate the simple interest (SI),The final value should be an integer.

In [79]:
principle_amount=250000
interest_rate=9.3456
time_period=3
simple_interest_float=principle_amount*interest_rate*time_period
print("the simple interest is in floating value=",simple_interest)
# Let's convert this into integer Value
print("the simple interest is in Integer value=",int(simple_interest_float))

the simple interest is in floating value= 7009200.0
the simple interest is in Integer value= 7009200

# Practise Question 1 According to Above Code

Question 1 
You are Developing a program for a math competition where participants need to solve mathematical expressions and provide the result.
You want to use python to automate the evaluation process.
Here's How you could approach it : 

1)Take input from the participant to enter a mathematical expression 
2)Evaluate the expression entered by the participant and obtain the result.
3)Display the result to the participant.

In [101]:
expression = input("Enter a mathematical expression")
result =eval(expression)
print("The result of the expression is ", result )
print("Thank you for participating in the maths compertition ")

Enter a mathematical expression 25*45+96-52*3/2.4

The result of the expression is  1156.0
Thank you for participating in the maths compertition

Question 2 
Suppose you are analyzing dataset containing information about house prices in a party.
Each record includes details such as the house size 
(in square feet ) , number of bedrooms , and price . 
You want to perform various calculations and manipulations on this Dataset using python.
Answer the following qustion : 

1)Ask the user 1 & 2 to enter hosue size , number of rooms they want and , check the data type user has entered
2) Calculate the price of house , if per sq feet is Rs 5000 
3)Threshold price is 75 lakh Rs, Which user  is  paying the price abbove threshold price .

In [103]:
house_size_1 = float(input("enter the Size of the hosue"))
bedrooms_1 = int(input("Enter the number of bedrooms"))
price_1= float(input("Enter the budget"))

house_size_2 = float(input("enter the Size of the hosue"))
bedrooms_2 = int(input("Enter the number of bedrooms"))
price_2= float(input("Enter the budget"))

house_price_1= house_size_1*5000
print("The price of the house for the user1 ", house_price_1)

house_price_2= house_size_2*5000
print("The price of the house for the user2 ", house_price_2)

threshold_price = 7500000
user1_threshold = house_price_1 >=threshold_price
user2_threshold = house_price_2 >=threshold_price
print (f"user 1 is paying above thresold ", {user1_threshold})
print (f"user 2 is paying above thresold ", {user2_threshold})

enter the Size of the hosue 1500
Enter the number of bedrooms 3
Enter the budget 80000
enter the Size of the hosue 2000
Enter the number of bedrooms 2
Enter the budget 75000

The price of the house for the user1  7500000.0
The price of the house for the user2  10000000.0
user 1 is paying above thresold  {True}
user 2 is paying above thresold  {True}

Question 3 
You are working on a project to analyze stock market data '.
Create a variable to store the stock symbol , current price , 
and Percentage change in Price . Then Calculate the new price after a 10% increase using arithmatic operaitons, 
Finally , promt the user to enter their budget using the input() function , 
convert it to a float using the float()  funciton , and compare it with the new price

In [104]:
stock_symbol = 'xyz'
current_price = 100
percent_change = 10 
new_price = current_price*(1+percent_change/100)
print("the new price of the stock is ", new_price)
user_budget = int(input("enter Your Budget"))
a=user_budget >=new_price
print("User budget is greater than new price ", a)

the new price of the stock is  110.00000000000001

enter Your Budget 500

User budget is greater than new price  True

In [ ]:
Question 4 
You are working on a project to analyze weather data.
Create variables to store the current temperature , 
the minimum temperature recored  , and the maximum temparature recorded .
Determine whether the current temperature is within the range of the minimum and maximum temperatures 
recorded using logical operators

In [105]:
# Variables to store the temperatures
current_temperature = 25.5  # current temperature in degrees Celsius
min_temperature_recorded = 20.0  # minimum temperature recorded in degrees Celsius
max_temperature_recorded = 30.0  # maximum temperature recorded in degrees Celsius

# Check if the current temperature is within the range
is_within_range = min_temperature_recorded <= current_temperature <= max_temperature_recorded

# Output the result
print("Current temperature is within the recorded range:", is_within_range)

Current temperature is within the recorded range: True

# Control Flow Statement

# IF Statement

Quesiton 1: 

Develop a temperature converter in Python for a cold storage that converts temperature 
between Celcius and Ferhenhight scales.
The Program should take a temperature value and a unit (c or F) as input .
if the temperature is less than 15 degree Celcius ,, inform the user that the temperature is not convenient.
If the temperature is between 24 to 28 degrees Celcius , inform the user that the temperature is convenient.

In [107]:
temp = float(input("Enter the temperature"))
if temp<15: 
     print ("Temperature is not convenient")
if 24<temp<28: 
    print("Temperature is Convenient")

Enter the temperature 25

Temperature is Convenient

# else if Statement

Qustion 1: 
Write a program to check whether e person is eligible for voting or not

In [109]:
age = int(input("Enter your age"))
if age>=18: 
          print("You are eligible to vote")
else:           
          print("You are not eligible for vote")

Enter your age 18

You are eligible to vote

Question 2: 

You are tasked with developing a python program to manage employee salarees for a company .
Your program should calculate the net salary of each employee based on their base salary , 
duductions , and bonuses . Additionally , employees who have been with the company for more than
5 years are eligible for an additional loyalty bonus , 8% of salary .
Deductions of tax will be 12%
                    
write a python script that promts the user to input the following information for each employee: 

base Salary 
                                                                 
Yeears of Service

After Calculating the net salary , 
The program should print the summary for each employee , including their base salary , deductions , bonuses, 
loyalty bonus (if applicable) , and net salary .

In [110]:
base_salary = float(input("Enter your base salary"))
years_of_service = int(input("Enter Your years of Service"))
if years_of_service>5:
    total_salary =base_salary + (0.08*base_salary)-(0.12*base_salary)
    print("You will get net salary", total_salary)
else: 
    net_salary =base_salary - (0.12*base_salary)
    print("your net salary is ", net_salary)

Enter your base salary 20000
Enter Your years of Service 6

You will get net salary 19200.0

# If ,elif , else condition

Question 

Write a python program that promts the user to input a city and display the famous monument of that city .
Mumbai : Gateway of Inida
Kolkata : Victory Memorial 
Chennai : Marina Beach 
Bangalore : Botanical Garden 
Pune : Shaniwar Wada 
Write a python script to implement the functionality .

In [111]:
a = input("enter your city ")
if a=="Mumbai": 
    print("The famous Monoment is gat way of India ")
elif a=="Kolkata":
    print("The famous Monoment is Victory Memorial")
elif a=="Chennai":
    print("The famous Monoment is Marina Beach")
elif a=="Bangalore":
    print("The famous Monoment is Botanical garder")
elif a=="Pune":
    print("The famous Monoment is shaniwar wada")
else : 
    print("No record is Found")

enter your city  Kolkata

The famous Monoment is Victory Memorial

# While Loops

Qustion 1: 
Write a python progtam to print all the even numbers between 1 and 50 using a while loop

In [112]:
count = 1
while count<50:
    if count%2==0:
        print(count)
    count=count+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

# While Loop Using if-else

Quesiton 1: 
you are taked with validating user input for emial address . 
Write a python program that promts the user to enter an emial address .
Use a while loop to iterate through the input and check if the email address contains and '@' and '.' symbol. 
If the email address does not meet this criteria , print "Invalid emial address format. please try again ". 
Otherwise , Print emial address validation passed

In [113]:
email = input("Please enter your mail Address")
#Initilization a flag track validation status
valid_email = False

#start the loop 
while not valid_email: 
    #check if emial contains "a" and "."
    if "@"in email and "." in email:
        print ("Emial Address validation passed")
        valid_email=True 
    else:
        print("Invalid email Address , please try again")
        email=input("please enter your Mail address")

Please enter your mail Address erfanulkabirhira132@gmail.com

Emial Address validation passed

# For Loop in python

In [119]:
numbers = [1 , 2 , 3, 4, 5]
for i in numbers:
    print(i)

print("\n")

n = "Students"
for i in n :
    print (i)

print("\n")

# Range er moddhe always 1 beshi dibo , joto Print korte cai 
for i in range(11):
    print(i)

print("\n")

#for Certain bounding the range 
for x in range(5, 11):
    print(x)

1
2
3
4
5


S
t
u
d
e
n
t
s


0
1
2
3
4
5
6
7
8
9
10


5
6
7
8
9
10

Question 1: 
Implement a python program to generate the multiplicaiton table of a given numbers using a for loop

In [124]:
number = int(input("Enter a number to generate its Multiplicaiton table"))
print ("The Multiplication of = ",number)

for i in range (1,11):
    print (f"{number}x{i} = {number*i}")

Enter a number to generate its Multiplicaiton table 6

The Multiplication of =  6
6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
6x10 = 60

# For loop with If, elif , else Condition

In [130]:
for i in range (0,11):
    if i%2==0:
        print("The number is even =",i)
    else:
        print("The number is odd =",i)

The number is even = 0
The number is odd = 1
The number is even = 2
The number is odd = 3
The number is even = 4
The number is odd = 5
The number is even = 6
The number is odd = 7
The number is even = 8
The number is odd = 9
The number is even = 10

In [ ]:
Question 2 : 
You are tasked with creating a program to assist shoppers in calculating their total bill at a grocery sotre.
The store offers discounts based on the total purchase amount. Your task is to implement a python program that 
tasks the price of each item purchased and calculates the total bill, including any applicaiton discounts 
The store offers the following discount rates 
based on the total purchase amount: 

->if the total purchase amount is $100 or more, Then the customer receiver a 10% discount .
->if the total purchase amount is between $50 and $99.99, Then the customer receives a 5% discount.
->if the total purchase amount is less than $50 , no discount is applied.

write a python program to promt the user to enter the prices of the item they purchased.
use a for loop to itertate through the prices 
entered and calculate the subtotal .

Apply the appropriate discount based on the total purchase amount using if-else statements.
finally , print out the subtotal , discount amount (if any), and the total bill after applying the discount.

In [131]:
num_items = int(input("Enter the number of item purchased="))
total_price = 0

for i in range(num_items):
    price=float(input("Enter the price of the item="))
    total_price = total_price + price 
    i=i+1
if total_price>=100:
    discount =0.1*total_price
elif 50<=total_price <100:
    discount = 0.5*total_price
else:
    discount = 0 

total_bill = total_price -discount 
print("Subtotal ", total_bill)

Enter the number of item purchased= 5
Enter the price of the item= 10
Enter the price of the item= 15
Enter the price of the item= 18
Enter the price of the item= 20
Enter the price of the item= 56

Subtotal  107.1

# Break Statement

In [132]:
for i in range(5):
    if i ==3:
        break 
    print(i)

0
1
2

# Continue Statement

In [133]:
for i in range(5):
    if i==3:
        continue
    print(i)
print("I am Learning python")

0
1
2
4
I am Learning python

# User Defined Funciton

In [ ]:
Creating and Calling Function

In [134]:
def my_function():
    print("Hello I am Hira")
    
my_function() #Calling the my_function

Hello I am Hira

In [138]:
def details_bill():
    print ("The last date of the bill payment is on next week Sunday")
    print ("After deadline , you need to pay Rs 1000 as a fine")
    print ("pay you bill soon")

In [139]:
for i in range (3):
    a =input("Enter youe name")
    b =int(input("enter the unit os elecetiricity you have sunday"))
    bill =b*10
    print ("Total amount of bill you need to pay is", bill)
    details_bill()

Enter youe name hira
enter the unit os elecetiricity you have sunday 500

Total amount of bill you need to pay is 5000
The last date of the bill payment is on next week Sunday
After deadline , you need to pay Rs 1000 as a fine
pay you bill soon

Enter youe name jira
enter the unit os elecetiricity you have sunday 400

Total amount of bill you need to pay is 4000
The last date of the bill payment is on next week Sunday
After deadline , you need to pay Rs 1000 as a fine
pay you bill soon

Enter youe name Mira
enter the unit os elecetiricity you have sunday 1000

Total amount of bill you need to pay is 10000
The last date of the bill payment is on next week Sunday
After deadline , you need to pay Rs 1000 as a fine
pay you bill soon

# Arguments

Create a funciton , which checks the numeber is even or odd

In [142]:
def check_even_odd(number):
    if number%2==0:
        print("The number is even")
    else:
        print ("The number is odd")

In [143]:
check_even_odd(24)

The number is even

In [144]:
check_even_odd(27)

The number is odd

# 2 Arguments

In [146]:
def my_name(fname,lname):
    print (fname +" " +lname)

In [147]:
my_name("Hira" , "Jira")

Hira Jira

Question 1 :
Write a user-defined function to process the exam scores and calculate the following statistics :

The average exam score .
the Heighest exam Score .
The lowest exam score .
The number of students who passed the exam(assuming a passing score is 80 or above ).
The numeber of students who failed the exam .

exam_score = [ 85 , 92, 78 , 90 , 88 , 95 , 82 , 79 , 87 , 91 ]

In [ ]:
def calculate_exam_statistics(exam_scores):
    num_students = len(exam_scores)
    average_score = sum(exam_scores) / num_students
    highest_score = max(exam_scores)
    lowest_score = min(exam_scores)

    num_passed = 0
    for score in exam_scores:
        if score >= 80:
            num_passed += 1
    num_failed = num_students - num_passed
    return average_score, highest_score, lowest_score, num_passed, num_failed

# Example usage
exam_scores = [85, 92, 78, 90, 88, 95, 82, 79, 87, 91]
average_score, highest_score, lowest_score, num_passed, num_failed = calculate_exam_statistics(exam_scores)

print("The average score is", average_score)
print("The Highest score is", highest_score)
print("The Lowest score is", lowest_score)
print("The Number of students passed is", num_passed)
print("The Number of students failed is", num_failed)

In [ ]:
Ans : 
The average score is 86.7
The Highest score is 95
The Lowest score is 78
The Number of student passed is  8
The Number of student failed is  2

# Practise Question 2 After Practise 1

Quesiton 1 : 
You are given a dataset of students grades and need to determine the grade distribution.

Question : Write a python Funciton 
grade_distributin(grades) that takes a list of integer representing 
student grades (0-100). Use a loop to count the number of grades in each grade catagory :
'A' ( 90-100) , 'B' (80-89) , 'C' (70-79), 'D' (60-69) , and 'F'(below 60).
Use if_elif_else statements within the loop to categorize the grades.
Return a dictionay with the counts of each grade category .

In [233]:
def grade_distribution (grades):
    for grade in grades:
        if 90<=grade <=100:
            print("You have got A grade")
        elif 80<=grade <=89:
            print("You have got B grade")
        elif 70<=grade <=79:
            print("You have got C grade")
        elif 60<=grade <=69:
            print("You have got D grade")
        else:
            print("You have got E grade")
    return

In [234]:
grades = [85, 92,88,74,63,95,70,58,82,67,73]
grade_distribution(grades)

You have got B grade
You have got A grade
You have got B grade
You have got C grade
You have got D grade
You have got A grade
You have got C grade
You have got E grade
You have got B grade
You have got D grade
You have got C grade

Question 2 : 
You are creating a number guessing game where the computer generates a random number
between 1 and 100 , and the palyer has to guess it .

Write a python code to generate a random number between 1 and 100 
Use control flow statements and loops to allow the player to guess the number and provide feedback 
(too high , too low , or correct ).
Define a user_deined function to encapsulate the game logic and call this function to play the game.

In [240]:
import random 
def number_gussing_game():
    secret_number = random.randint(1, 100)
    print(secret_number)
    print("Welcome to the Number Gussing game")
    print("I have the number between 1 to 100 , Can you guess it ?")
    attempts = 0 
    guess = None 
    while guess !=secret_number:
        guess = int(input("Enter Your Guess"))
        attempts = attempts + 1
        if guess<secret_number:
            print("Too low , Try again")
        elif guess > secret_number:
            print("Too high, Try again")
        else:
            print("Congratulations you have guessed the correct number")
            print("The number of attempts in guessing the correct number is", attempts)

In [241]:
number_gussing_game()

78
Welcome to the Number Gussing game
I have the number between 1 to 100 , Can you guess it ?

Enter Your Guess 72

Too low , Try again

Enter Your Guess 80

Too high, Try again

Enter Your Guess 78

Congratulations you have guessed the correct number
The number of attempts in guessing the correct number is 3

Question 3 : 
You are tasked with creating a program to calculate the sum of squares of the first n natural numbers, 
where n is entered by the user.

write python code to promt the user to enter a positive integer n .
Use a loop to calculate the sum if squares of the first n natural numbers.
Define a user-defined function to encapsulate
the sum of squares calculate logic and call this function with the user's input' .

In [242]:
def sum_of_squares(n):
    """Calculate the sum of squares of the first n natural numbers."""
    total = 0
    for i in range(1, n + 1):
        total += i**2
    return total

# Prompt the user to enter a positive integer
while True:
    try:
        n = int(input("Enter a positive integer: "))
        if n > 0:
            break
        else:
            print("Please enter a positive integer.")
    except ValueError:
        print("That's not an integer! Please enter a valid positive integer.")

# Calculate the sum of squares
result = sum_of_squares(n)

# Display the result
print(f"The sum of squares of the first {n} natural numbers is: {result}")

Enter a positive integer:  55

The sum of squares of the first 55 natural numbers is: 56980

# String in python

In [246]:
a = 'learners'
print (a)
print(type(a))

print("\n")

b = "Students"
print(b)
print(type(b))

print ("\n")

str = "I am Hira \nthis is my first class"
print(str)

print("\n")

# Multiple String
s = """Python is a high-level, general-purpose programming language. 
Its design philosophy emphasizes code readability with the use of significant indentation. 
Python is dynamically typed and garbage-collected. It supports multiple programming paradigms,
including structured, object-oriented and functional programming. """
print(s)

learners
<class 'str'>


Students
<class 'str'>


I am Hira
this is my first class


Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the use of significant indentation.
Python is dynamically typed and garbage-collected. It supports multiple programming paradigms,
including structured, object-oriented and functional programming.

# Indexing of  String

In [247]:
a ="hello dear learners" 
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

h
e
l
l
o

In [248]:
a ="hello dear learners" 
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

s
r
e
n
r

In [249]:
b = "Data science is the growing field"
print(b[-1], b[-2] , b[-3])

d l e

# Slicing

In [250]:
a="i am learing data Science"
print (a[0:8])

i am lea

# Slicing with Jump

In [251]:
a= "i am leaning Data Science"
print (a[0:10:2])

ia en

# Negetive Slicing With jump

In [252]:
a= "i am leaning Data Science"
print (a[-16:-1])

ing Data Scienc

# String Reverse

Question 1: 
Write a python program to reverse the string"honesty is the best policy"

In [253]:
str ="honesty is the best policy"
print(str[::-1])

ycilop tseb eht si ytsenoh

Question 2 : 
Write a python funciton that takes a string as input and returns the substring from the 3rd to the 8th character
"Data Science"
"Hello World, I am Learning Python"
"All the best"

In [254]:
def get_substring(input_string):
    """Returns the substring from the 3rd to the 8th character."""
    return input_string[2:8]

# Test cases
print(get_substring("Data Science"))                 # Output: "ta Sci"
print(get_substring("Hello World, I am Learning Python"))  # Output: "llo Wo"
print(get_substring("All the best"))                 # Output: "l the "

ta Sci
llo Wo
l the

Question 3 :
Write a python function that takes a date stirng in the format "YYYY-MM-DD"
and returns a tuple containing the year , month , and day as integers.

Example Input : "2024-05-28"
Expexted Output : (2021,5,28)

In [255]:
#we will use the concept of slicing 

def extract_date_parts(date_string):
    year = int(date_string[0:4])
    month = int(date_string[5:7])
    day = int(date_string[8:])
    return (year,month,day)

In [256]:
extract_date_parts("2024-05-28")

(2024, 5, 28)

# Lenth Method

In [257]:
s =""
print(len(s))

print("\n")

s=" "
print (len(s))

print("\n")

s = "theiscale"
print(len(s))

print("\n")

a = "the iscale"
print(len(a))

0


1


9


10

# String With Specila Symbol

In [263]:
s = "erfanulkabir@world"
print(s)
print(len(s))

print("\n")

s = "hello\nworld"
print(s)
print(len(s))

print("\n")

s="""hello
World """
print(s)
print(len(s))

print ("\n")
a="Python is a high-level, general-purpose programming language. "
print(len(a))

erfanulkabir@world
18


hello
world
11


hello
World
12


62

# Modify String

In [264]:
s = "This is the iscale"
print(s.upper())

print("\n")

s = "This IS the iscale 123"
print(s.upper())

THIS IS THE ISCALE


THIS IS THE ISCALE 123

# Lower String

In [265]:
k = "THIS IS THE ISCALE"
print(k.lower())

this is the iscale

# Replace Method

In [268]:
text = "Hello Word , i am liearning python"
rep = text.replace("python", "Data Science")
print(rep)

print("\n")

a = """I am Hira , My full name is Not Hira ,
This is my Nick Name Hira """
rep = a.replace("Hira", "Chagol chor ")
print(rep)

Hello Word , i am liearning Data Science


I am Chagol chor  , My full name is Not Chagol chor  ,
This is my Nick Name Chagol chor

# Index Method

In [269]:
a = "I want to Learn "
print(a.index("to"))

7

# Find Method

In [270]:
a = "Python is great"
b = a.find("g")
print(b)

10

# String Concatentaion

In [271]:
a = "hello"
b = "World"
print(a +" "+b)

hello World

# Final Practise Question

Write a python porgrma that accomplishess the following tasks : 

1)Concatenate the strings "hello" and "World"
2)Find the lenth of the resulting string form the concotenation.
3)Extract the substring obtained in the previous step.
4)Reverse the substring obtained in the previous step.
5)Convert th reveresed substring to uppercase.
6)Replace the letter "L" with "X" in the revesed and uppercase substring .

In [273]:
concotenated_string = "hello" + "World"
lentgh = len(concotenated_string)
substring = concotenated_string[5:]
reverse = substring [::-1]
upper = reverse.upper()
modify = upper.replace("l", "x")

print (concotenated_string)
print (lentgh)
print (substring)
print (reverse)
print (upper)
print (modify)

helloWorld
10
World
dlroW
DLROW
DLROW