# Lecture-2 
# Variable & data type In Python
# Creating a Varible

In [1]:
x=5
print(x)

5

In [2]:
a=10 
b=2.5
c="Hira"
print (a, b , c)

10 2.5 Hira

In [3]:
y ="we are learning python"
print (y)

we are learning python

In [4]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          float    2.5
c          str      Hira
x          int      5
y          str      we are learning python

# A variable name msut start with a letter or the underscore character

In [9]:
apple = 23 
print(apple)

23

In [10]:
apple_box =2.3
print (apple_box )

2.3

In [11]:
_ =5
print(_)

5

In [12]:
_z =6.3
print (_z)

6.3

In [13]:
mnp_=200
print(mnp_)

200

# A variable name can not start with a number

In [19]:
1==23
print(1)

1

In [20]:
1_apple = 23 
print (1_apple)

SyntaxError: invalid decimal literal (1506358233.py, line 1)

In [16]:
apple_1=12
print(apple_1)

12

# A varible name only contain alpha_numeric character and underscores (A-z , 0-9 , and_ )

In [17]:
abc123nmp =23 
print(abc123nmp)

23

In [18]:
&$& =24
print (&$&)

SyntaxError: invalid syntax (4026127824.py, line 1)

In [21]:
_ =2
print (_)

2

# a varibae name are case senseitve (age , Age , and AGE are three different variables )

In [22]:
age =23
Age =23
AGE =26
print(AGE)

26

# Data types in Python

In [23]:
a=2
b=1.5
c="my name is Hira"
print (a)
print(type(a))

2
<class 'int'>

In [24]:
v=2+3j
print (v)
print(type(v))

(2+3j)
<class 'complex'>

In [25]:
num=[1, 2 ,  3 , 5 ]
print(num)
print(type(num))

[1, 2, 3, 5]
<class 'list'>

In [29]:
num1=True
print(num1)
print(type(num1))

True
<class 'bool'>

# A variable name can not be any of the Python Keywords

In [51]:
print =14
print(print)

TypeError: 'int' object is not callable

# Practice Question

Question 1
Imagine you are Working on a customer management System , and you have the first name and last name of a customer stored as separte variable. Yout are developing a customer management system for a retail store. In your database, you have the first name and last name of a customer stored as separte variables : first_name ="Jhon" last_name ="Doe".How would you Concatenate these strings to form the full name "Jhon Doe" for the custoemer's profile

In [52]:
del print

In [54]:
first_name = "Jhon"
last_name = "John"
full_name = first_name+ " " +last_name
print(full_name)

Jhon John

Question 2
You Have a varibale x the value 5 , How would you reassign x to have the value 10 ?

In [57]:
x=5
y=x+5
print()

10