# Lecture 3

# Arithmatic Opertor 
# Adition

In [1]:
a=1
b=2
print(a+b)

3

In [3]:
x=1
y=2.2
print(x+y)

3.2

In [4]:
a1="hello"
b1="Student"
c1=a1+" "+b1
print(c1)

hello Student

In [8]:
x1=2+2j
x2=1+5j
print(x1+x2)

(3+7j)

In [9]:
w1=-6
w2=3
print(w1+w2)

-3

# Subtraction

In [10]:
num1=8 
num2=5
print(num1-num2)

3

In [11]:
a6 =5+9j
b6 =3+5j
print (a6+b6)

(8+14j)

# Multiplicaiton

In [13]:
a = 5.3
b=5
print (a*b)

26.5

In [14]:
str="hello"
print (str*5)

hellohellohellohellohello

In [15]:
str="hello"
str2="world"
print(str1*str2)

NameError: name 'str1' is not defined

In [16]:
a1=2+3j
b1=3+4j
print (a1*b1)

(-6+17j)

# Division

In [19]:
a=15.3
b=3
print(a/b)

5.1000000000000005

In [23]:
com1=2+3j
com2=1+2j
print(com1/com2)

(1.6-0.2j)

# Modulus

In [24]:
print (12%3)

0

In [25]:
print (19%5)

4

a=5+3j
b=3
print (a%b)

# Exponent

In [27]:
print (343444334**5)

4778392056971831334881537083459007545459424

In [31]:
w=60
hight=5.5
v=hight**2
print (w/v)

1.9834710743801653

# Boolean

In [32]:
a=True 
print(type(a))

<class 'bool'>

# Comparsion

In [33]:
x=4
y=6
print(x==y)

False

In [34]:
x=4
y=5
print(x!=y)

True

# logical

In [35]:
x = True 
y = False 
print (x  and y)

False

# Practise Question

Question 1 

You have a data containing two record : "Quantity" and "Price per unit".How would you use arithmetic operators to calculate the total cost for item, 
also calculate the total Cost ? Product 1 , Quantity -5 , price per unit -Rs 250. product 2 , Quantity -25 , price per unit -Rs 656. product 3 , 
quantity -34 , price per unit -Rs 274

In [45]:
product_1=5*250
product_2=25*656
product_3=34*274
print("the price of product 1 is =", product_1)
print("the price of product 2 is =", product_2)
print("the price of product 3 is =", product_3)

print("The total price customer need to pay is =", product_1 + product_2 + product_3 )

the price of product 1 is = 1250
the price of product 2 is = 16400
the price of product 3 is = 9316
The total price customer need to pay is  = 26966

Question 2 

In a finance based organization, the task is to calculate the simple interest given the principle amount, interest rate, and time period ,
the interest rate is 8% , the principal amount is Rs 15,00,000, and the time period is 3 years, calculate the simple interest.Also, the threshold 
amount is Rs 1,20,000 please check if the calculated interest is greater or less than the threshold Amount.

In [60]:
p=1500000
r=8
t=3
Threshold=120000
si=(p*r*t)/100
print("The simple Interest rate is =",si)

#Compariosn 
comp=si>Threshold
print(comp)
print("the value of simple interest is greater than threshold")

The simple Interest rate is = 360000.0
True
the value of simple interest is greater than threshold

Question 3 : 

write a Python program to calculate the area of a circle with a radius of 12 cm.

In [61]:
d=3.1416
r=12*12
area=d*r
print ("the area of a circle is =",area)

the area of a circle is = 452.3904